# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# Django
*.sqlite3

# Environment variables
.env

# IDE
.vscode/
.idea/

# Python cache
.pytest_cache/

# MySQL dumps containing data
bsitcrud.sql
SQL/bsitcrud.sql